<a href="https://colab.research.google.com/github/ACCaceres/pydata-book/blob/3rd-edition/ch02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capitulo 2 | **Cuaderno de Notas**
*Ariel Alfonso Cáceres Pacheco*

Notas personales al cuaderno O'Really
**Python for Data Analysis**

In [1]:
#importando pandas con nomenclatura np
import numpy as np
#np semilla aleatoria para replica de resultados
np.random.seed(12345)
# esta linea no se que hace
np.set_printoptions(precision=4, suppress=True)

In [3]:
import numpy as np
# crea un mini data set como distribucion normal
data = [np.random.standard_normal() for i in range(7)]
data

[0.2817461528302025,
 0.7690225676118387,
 1.2464347363862822,
 1.0071893575830049,
 -1.2962211091122635,
 0.274991633432124,
 0.22891287893531592]

In [5]:
# creando una lista
a = [1, 2, 3]

In [7]:
#reasignacion de la lista
# el cual asinga La lista a y este  >>>>  b
b = a
b

[1, 2, 3]

In [9]:
#Agragando un elemento a una lista metodo variable.append()
a.append(4)
b

[1, 2, 3, 4, 4]

In [10]:
# tambien podria invocar a
a

[1, 2, 3, 4, 4]

In [12]:
# se define una funcion que agrega un append a alguna lista
def append_element(some_list, element):
    some_list.append(element)

In [14]:
# se define una lista data con elemnetos 1,  2, 3, 4
data = [1, 2, 3]
# mediante la funcion append_element
# la funcion recibe 2 argumentos, el primero la lista a la que afecta,
# el segundo el valor a agregar
append_element(data, 4)
data

[1, 2, 3, 4]

Las variables en Python no tienen ningún tipo inherente asociado; una variable puede hacer referencia a un tipo diferente de objeto simplemente realizando una asignación. No hay ningún problema con lo siguiente:

In [18]:
a = 5
type(a)
a = "foo"
type(a)

str

 En Python, este tipo de conversiones implícitas no están permitidas. En este sentido decimos que Python es un lenguaje fuertemente tipado , lo que significa que cada objeto tiene un tipo (o clase ) específico, y las conversiones implícitas ocurrirán solo en ciertas circunstancias permitidas

In [17]:
# esta celda arroja error por cuanto "5" es un string y 5 una int
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [21]:
# se asinga valor float
a = 4.5
# se asigna un Int a variable b
b = 2
# para esta division el entero se convierte en float para efecto de las division
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [20]:
a = 5
isinstance(a, int)
# para validar si cualquier objeto es de un tipo en particular se ultiliza metodo
# isinstance(variable, [tipo])
# da por respeusta un True o False

True

In [31]:
# Tambien es posible consultar tipo de objeto dentro de una tupla
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))
# en este codigo esta preguntando si es int ó float cualquier valor del obejeta hara true

True

In [33]:
# Creacion de Variable
a = "foo"

In [35]:
# getattr(varible, "metodo") es un metodo que permite acceder a los atributos de un objeto
# en este caso a, split en donde el metodo funciona como sigue:
getattr(a, "split")

La expresión getattr(a, "split") utiliza la función getattr() para obtener dinámicamente el método split() del objeto a. Así es como funciona:

Función getattr():

getattr() es una función integrada de Python que toma dos argumentos: un objeto y una cadena que representa el nombre de un atributo.
Obtiene el atributo del nombre dado del objeto y lo devuelve.
Objeto a:

En este caso, a es un objeto que presumiblemente tiene un método split().
El tipo exacto de a no se especifica en el fragmento de código.
Atributo "split":

La cadena "split" representa el nombre del atributo a obtener.
En Python, el método split() se asocia comúnmente con objetos de cadena. Divide la cadena en una lista de subcadenas según un delimitador.
Obtención del método split():

getattr(a, "split") obtiene el método split() del objeto a.
Esto es equivalente a escribir a.split(), asumiendo que a tiene un método split().
Uso:

Después de obtener el método split(), puedes usarlo para dividir el objeto a (asumiendo que es una cadena) en una lista de subcadenas.
Por ejemplo, si a es la cadena "hola mundo", puedes dividirla en una lista de palabras usando el siguiente código:

palabras_divididas = getattr(a, "split")(" ")
Use code with caution
Esto daría como resultado que palabras_divididas contenga la lista ["hola", "mundo"].

In [38]:
# en esta Celda se define una funcion isiterable que
# evalua si el objeto es iterable para las cadenas sera True para los float o int no'''

def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

Evaluemos las funcion con los siguientes objetsos

In [42]:
# integuer
isiterable(5)

False

In [43]:
#lista
isiterable([1, 2, 3])

True

In [40]:
# un string
isiterable("a string")

True

In [45]:
#Float
isiterable(5.434)

False

#[**Operadores binarios y comparaciones**](https://wesmckinney.com/book/python-basics#semantics_binary_ops)

este apartado es de suo comun a otros lenguajes de comparación

In [55]:
5 - 7

-2

In [52]:
12 + 21.5

33.5

In [53]:

5 <= 2

False

In [56]:
# para comparar si 2 Variables se refieren al mismo objeto, se utiliza el termino IS
a = [1, 2, 3]
b = a
# la funcion "list" crean una nueva Lista en Python siempre
c = list(a)
a is b
a is not c

True

In [57]:
a is not c

True

In [58]:
a == c

True

In [49]:
a = None
a is None

True

**Objetos mutables e inmutables.**
Muchos objetos en Python, como listas, diccionarios, matrices NumPy y la mayoría de los tipos (clases) definidos por el usuario, son mutables . Esto significa que se puede modificar el objeto o valores que contienen:

In [59]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

Otros, como cadenas y tuplas, son inmutables, lo que significa que sus datos internos no se pueden cambiar:

In [60]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

**Tabla 2.2: Tipos escalares estándar de Python**
**Tipo	Descripción**


---


**None**	El valor "nulo" de Python (solo existe una instancia del Noneobjeto)


---


**str**	Tipo de cadena; contiene cadenas Unicode


---


**bytes**	Datos binarios sin procesar


---


**float**	Número de coma flotante de doble precisión (tenga en cuenta que no hay doubleun tipo separado)


---


**bool**	Un valor booleano TrueoFalse


---


**int**	Entero de precisión arbitraria

In [61]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [62]:
fval = 7.243
fval2 = 6.78e-5

In [63]:
3 / 2

1.5

In [65]:
# esto es los que ne Python se define como módulo
3 // 2

1

In [67]:
# Cadena con varias Lineas
c = """
This is a longer string that
spans multiple lines
"""

In [68]:
c.count("\n")

3

In [71]:
# esta Linea da error pues la cadenas en Python son inmutables, no
# se les puede reasinganr una valor
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

Para interpretar este mensaje de error, lea de abajo hacia arriba. Intentamos reemplazar el carácter (el "elemento") en la posición 10 con la letra "f", pero esto no está permitido para objetos de cadena. Si necesitamos modificar una cadena, tenemos que usar una función o método que cree una nueva cadena, como por ejemplo el replacemétodo string:

In [72]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [73]:
a

'this is a string'

In [77]:
# Aqui se esta connvirtiendo una varialbe que es un float a un string}
# una funcion para esto es str()
a = 5.6
s = str(a)
print(s)

5.6

In [80]:

#las cadenas son secuencias de caracteres y puede convertirse en otra cosa,
# Listas o Tuplas
s = "python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [83]:
#Aqui se ejecuta un slicing sobre la variable S
# cortandode [0, 1, 2] hasta el tercer caracter de las lista
# RECORDEMOS COMIENZA EN 0
s[:3]

'pyt'

El carácter de barra invertida \es un carácter de escape , lo que significa que se utiliza para especificar caracteres especiales como \ncaracteres de nueva línea o Unicode. Para escribir una cadena literal con barras invertidas, debes escapar de ellas:

In [84]:
s = "12\\34"
print(s)

12\34

In [ ]:
s = r"this\has\no\special\characters"
s

In [85]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [86]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [87]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [88]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [89]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [90]:
val = "español"
val

'español'

In [91]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [92]:
val_utf8.decode("utf-8")

'español'

In [93]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [94]:
True and True

True

In [95]:
False or True

True

In [ ]:
int(False)
int(True)

In [96]:
a = True
b = False
not a
not b

True

In [97]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [98]:
a = None
a is None
b = 5
b is not None

True

**Fechas y horarios**
El módulo Python integrado datetimeproporciona `datetime`, `datey` `time` tipos. El datetimetipo combina la información almacenada en datey timey es el más utilizado:

In [104]:
#Se hace importacion de modulo
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [103]:
# de la variable dt consultamos minutos
dt.minute

30

In [106]:
# dt mediante metodo consultamos fecha
dt.date()

datetime.date(2011, 10, 29)

In [108]:
#metodo para consulta de horas
dt.time()

datetime.time(20, 30, 21)

In [110]:
#strftime da formato a un datatime como cadena:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [111]:
# con el metodo
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

Cuando agrega o agrupa datos de series de tiempo, ocasionalmente será útil reemplazar los campos de tiempo de una serie de datetimes (por ejemplo, reemplazar los minutecampos secondy por cero):

In [114]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [113]:
#seteamos minutos y segundos a 0
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [115]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [122]:
#La diferencia entre dos datetime produce datetime.timedelta
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)
print(delta)
print( dt2)
print( dt)

17 days, 1:59:39
2011-11-15 22:30:00
2011-10-29 20:30:21

In [123]:
delta

datetime.timedelta(days=17, seconds=7179)

In [124]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

**Flujo de control**
Python tiene varias palabras clave integradas para lógica condicional, bucles y otros conceptos de flujo de control estándar que se encuentran en otros lenguajes de programación.

***si, elif y demás***
La ifdeclaración es uno de los tipos de declaraciones de flujo de control más conocidos. Comprueba una condición que, si True, evalúa el código en el bloque siguiente:

In [125]:
x = -5
if x < 0:
    print("It's negative")

It's negative

Si alguna de las condiciones es True, no se alcanzarán más bloques elif. elseCon una condición compuesta usando ando or, las condiciones se evalúan de izquierda a derecha y provocarán un cortocircuito:

In [126]:
if x < 0:
    print("It's negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

It's negative

En este ejemplo, la comparación c > dnunca se evalúa porque la primera comparación fue True.

In [127]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [128]:
4 > 3 > 2 > 1

True

Puede avanzar un forbucle a la siguiente iteración, omitiendo el resto del bloque, utilizando la continuepalabra clave. Considere este código, que resume números enteros en una lista y omite Nonevalores:

In [132]:
# recordemos que la funcion range genera una lista desde el 0 al valor
# asignado ejemplo range(4)

for i in range(6):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(5, 0)
(5, 1)
(5, 2)
(5, 3)

In [133]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [134]:
list(range(0, 20, 2))

[5, 4, 3, 2, 1]

In [135]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [136]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

Definición de secuencia: Se define una lista seq con los valores 1, 2, 3 y 4.
Recorrido con rango: El bucle for itera sobre un rango de valores desde 0 hasta la longitud de la secuencia (4 en este caso).
Acceso a elementos: Dentro del bucle, el índice i se utiliza para acceder al elemento correspondiente en la secuencia usando seq[i].
Impresión formateada: Se utiliza el formato f-string para imprimir un mensaje que incluye tanto el índice i como el elemento seq[i].
Salida: La salida será:

Si bien puede usar funciones como listalmacenar todos los números enteros generados rangeen alguna otra estructura de datos, a menudo la forma de iterador predeterminada será la que desee. Este fragmento suma todos los números del 0 al 99,999 que son múltiplos de 3 o 5:

In [138]:
total = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668

**Este capítulo proporcionó una breve introducción a algunos conceptos básicos del lenguaje Python y los entornos de programación IPython y Jupyter. En el próximo capítulo, analizaré muchos tipos de datos, funciones y utilidades de entrada y salida integradas que se utilizarán continuamente durante el resto del libro.**