<a href="https://colab.research.google.com/github/ACCaceres/Python-Data-Analyst/blob/main/ch03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capitulo 3 | **Cuaderno de Notas**
*Ariel Alfonso CÃ¡ceres Pacheco*

Notas personales al cuaderno O'Really
**Python for Data Analysis**

In [ ]:
# Estas son tuplas
tup = (4, 5, 6)
tup

(4, 5, 6)

In [ ]:
#  en muchos contextos la tuplas pueden omitir los parentisis
tup = 4, 5, 6
tup

(4, 5, 6)

In [ ]:
#puedes convertir cualquier secuencia en una Tupla
tuple([4, 0, 2])

(4, 0, 2)

In [ ]:
# Conviritiendo un String llamado String en Tupla
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
#Obtener cualquie elemento entre []
tup[0]

's'

In [ ]:
# en este caso se asignan 2 listas a un tupla
nested_tup = (4, 5, 6), (7, 8)

In [ ]:
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
# Valor [0]
nested_tup[0]

(4, 5, 6)

In [ ]:
# Valor [1]
nested_tup[1]

(7, 8)

In [ ]:
#  este codigo da erro pues se invoca al valor [2 ] de la tupla y tiene solo un valor [0]
# que lo compone una Lista.
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [ ]:

# al valor 1 de la tupla se le agraga via metodo append el valor 3
tup[1].append(3)

tup

('foo', [1, 2, 3], True)

In [ ]:
# Concatenando tuplas
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
#Multiplicar una Tupla
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

**Desempaquetando tuplas**
Si intenta asignar una expresiÃ³n de variables similar a una tupla, Python intentarÃ¡ descomprimir el valor en el lado derecho del signo igual:

In [ ]:

tup = (4, 5, 6)
a, b, c = tup
b

5

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [ ]:
a, b = 1, 2

In [ ]:
print(a, b)

1 2

In [ ]:
# reasignacion
b, a = a, b
print(a,",",b)

1 , 2

In [ ]:
# esta secuencia itera sobre cada valor de lista
# para cada valor de a, b ,c de la secuencia le corresponde un valor de la lista
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

Hay algunas situaciones en las que es posible que desees "extraer" algunos elementos del principio de una tupla. Hay una sintaxis especial que puede hacer esto, *restque tambiÃ©n se usa en firmas de funciones para capturar una lista arbitrariamente larga de argumentos posicionales:

In [ ]:
# aqui el ejemplo
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

[3, 4, 5]

In [ ]:
a, b, *_ = values

**METODOS DE TUPLA**

In [ ]:
# contar valroes dento de una tupla
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [ ]:
# se tiene una lista y una tupla esta se convierte en Lista, y al valor 1 de las lista (2Â°)
# se le asigna nuevo valor
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [ ]:
# genenerar un rango y convertirilo en lista esto se hace con funcion list
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# se ha aÃ±adido una nuevo valor a la lista via .append("valor")
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [ ]:
# se ha aÃ±adido valor al segundo item de la lista
b_list.insert(1, "red")
b_list

['foo', 'red', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [ ]:
# con metodo .pop se elimina el elemento del Objeto segun indice seÃ±aladao en este caso el .pop(2)
# es el Tercero
b_list.pop(2)
b_list

['red', 'peekaboo', 'dwarf', 'foo']

In [ ]:
#se agrega nuevamente el elemento foo al final via .append("foo")
b_list.append("foo")
b_list

['red', 'peekaboo', 'dwarf', 'foo', 'foo']

In [ ]:
#con .remove("foo") elminia el elemento de la lista el primero que encuentre
b_list.remove("foo")
b_list

['red', 'peekaboo', 'dwarf', 'foo']

In [ ]:
# funcion in consulta si ele elemento esta en el segundo elemento
#responde con un True or False
"dwarf" in b_list

True

In [ ]:
# funcion para vaidar si un elemento no esta en tu git
"dwarf" not in b_list

False

In [ ]:

# adicion de 2 tuplas
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
# se puede agregar con el metodo. extend([Valores]) de un listado
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
# con Metodo .sort hacemos un orden
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [ ]:
# ordena por longitud del String
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [ ]:
#ciclo de slicingn aca dese el 2Â° AL ULTMO 5-1
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [ ]:
# slicing en la secuencia
# reasigna valores 3 y 5-1
#seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [ ]:
#Sclingi desde el 0 al 5-1
#seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[:5]

[7, 2, 3, 6, 3]

In [ ]:
# Slicing desde el 3 hasta el final
[7, 2, 3, 6, 3, 6, 0, 1]
seq[3:]

[6, 3, 6, 0, 1]

In [ ]:
# Cuenta desde derecha a izquierda para hacer el Slicing
seq[-4:]

[5, 6, 0, 1]

In [ ]:
# da saltos de 2 vales haciendo un slicing en la lista
seq[::2]

[7, 3, 5, 0]

In [ ]:
#Invierte los valores en las lista

print(seq)
seq[::-1]

[7, 2, 3, 7, 5, 6, 0, 1]

[1, 0, 6, 5, 7, 3, 2, 7]

Es necesario un poco de tiempo para acostumbrarse a dividir la semÃ¡ntica, especialmente si viene de R o MATLAB. Consulte la Figura  3.1 para obtener una ilustraciÃ³n Ãºtil del corte con nÃºmeros enteros positivos y negativos. En la figura, los Ã­ndices se muestran en los "bordes del contenedor" para ayudar a mostrar dÃ³nde comienzan y terminan las selecciones de sectores utilizando Ã­ndices positivos o negativos.

<img alt="Estadistica" src="https://wesmckinney.com/book/images/pda3_0301.png" width=960px>

El diccionario o dictpuede ser la estructura de datos integrada de Python mÃ¡s importante. En otros lenguajes de programaciÃ³n, los diccionarios a veces se denominan mapas hash o matrices asociativas . Un diccionario almacena una colecciÃ³n de pares clave-valor , donde clave y valor son objetos de Python. Cada clave estÃ¡ asociada con un valor para que un valor pueda recuperarse, insertarse, modificarse o eliminarse convenientemente dada una clave particular. Un mÃ©todo para crear un diccionario es utilizar llaves {}y dos puntos para separar claves y valores:

In [11]:
# Se crea un diccionario {clave:valor}
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [12]:
#  se puede integrar o acceder elementos dentro del diccionario.
d1[7] = "an integer"
d1
d1["b"]

[1, 2, 3, 4]

In [14]:
# con In se puede comprobar si la clave valor es True or False
"b" in d1

True

In [22]:
# se inserta un nuevo par valor
d1[5] = "some value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value',
 5: 'some value'}

In [23]:
# con la funcion del se elimina par valor en este caso
# 5: 'some value'
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [18]:
# se agrega un a nueva clave: Valor en este caso dummy:another value
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [24]:
ret = d1.pop("dummy")
ret

'another value'

El mÃ©todo keysand valuesle proporciona iteradores de las claves y valores del diccionario, respectivamente. El orden de las claves depende del orden de su inserciÃ³n, y estas funciones generan las claves y los valores en el mismo orden respectivo:

In [26]:
# llamados de claves a una lista
list(d1.keys())

['a', 'b', 7]

In [29]:
# llamados de valores extraidos a una lista
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [33]:

#con el metodo .items puede ir sobre clve:valor pero embevido en una tupla
list(d1.items())

[('a', 'some value'), ('b', 'foo'), (7, 'an integer'), ('c', 12)]

In [31]:
# si necesita actualizar diccionarios he aqui una forma
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [34]:
# crearemos 2 tuplas range(5) --->del 0 al 4 y reversed(range(5))--- del 4 al 0

tuples = zip(range(5), reversed(range(5)))
tuples

In [35]:
# el metodo dict lo que efectua es una funciion que hace mapedo de diccionario
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

MÃ¡s adelante hablaremos de la comprensiÃ³n del diccionario , que es otra forma de construir diccionarios.

Valores predeterminados
Es comÃºn tener lÃ³gica como:

```
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
```
Por lo tanto, los mÃ©todos del diccionario gety poppueden tomar un valor predeterminado para ser devuelto, de modo que el if-elsebloque anterior se puede escribir simplemente como:


```
value = some_dict.get(key, default_value)
```
get de forma predeterminada regresarÃ¡ None si la clave no estÃ¡ presente, mientras que popgenerarÃ¡ una excepciÃ³n. Al establecer valores, puede ser que los valores en un diccionario sean otro tipo de colecciÃ³n, como una lista. Por ejemplo, podrÃ­as imaginarte categorizar una lista de palabras por sus primeras letras como un diccionario de listas:

In [36]:
#  aqui un pequeÃ±o codigo que asigna al diccionario segun la letra inicial
#  Sean las palabras
# Se define una lista de palabras llamada words.
words = ["apple", "bat", "bar", "atom", "book"]

# Se inicializa un diccionario vacÃ­o llamado by_letter.
by_letter = {}

#Se inicia un bucle for que recorre cada palabra en la lista words
# Para cada palabra, se extrae su primera letra y se guarda en la variable letter.
for word in words:
    # word[0] representa el primer caracter de la palabra
    letter = word[0]
    #Si no estÃ¡ presente, se agrega la letra como una clave en
    # el diccionario y se le asigna como valor una lista que contiene la palabra actual.
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

Aqui se presenta un mejoramiento de cÃ³digo utilizando en metodo `setdefault`. El cual sustituye el ciclo `for`

In [4]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

Otra construccion para el mismo cÃ³digo o funcion es ultilizar un modulo `collections` el cual tien una clase `defaultdict` que lo vuelve aun mas fÃ¡cil

In [11]:
from collections import defaultdict
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

**Tipos de claves de diccionario vÃ¡lidas**

Si bien los valores de un diccionario pueden ser cualquier objeto de Python, las claves generalmente tienen que ser objetos inmutables como tipos escalares (int, float, string) o tuplas (todos los objetos de la tupla tambiÃ©n deben ser inmutables). El tÃ©rmino tÃ©cnico aquÃ­ es hashability . Puedes comprobar si un objeto es hash (se puede utilizar como clave en un diccionario) con la hashfunciÃ³n:


*Los valores hash que ves cuando usas la hashfunciÃ³n en general dependerÃ¡n de la versiÃ³n de Python que estÃ©s usando.*
---

In [15]:
hash("string")

-6238533303364444972

In [14]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [16]:
 hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

Para usar una lista como clave, una opciÃ³n es convertirla en una tupla, que puede ser sometida a hash siempre que sus elementos tambiÃ©n pueda

In [18]:
# se define un diccionario vacio
d = {}
# aqui la lista se convierte en tupla
# y se asigna clave valor
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

**Set**

Un `set` es una colecciÃ³n desordenada de elementos Ãºnicos. Un conjunto se puede crear de dos maneras: mediante la setfunciÃ³n o mediante un conjunto literal con llaves:

In [20]:
# Forma 1
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [22]:
# Forma 2
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [24]:
# Se definene dos Set (conjuntos)
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b

In [ ]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

In [ ]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

In [ ]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

In [ ]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

In [ ]:
list(reversed(range(10)))

In [ ]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
set(map(len, strings))

In [ ]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [ ]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

In [ ]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

In [ ]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

In [ ]:
def my_function(x, y):
    return x + y

In [ ]:
my_function(1, 2)
result = my_function(1, 2)
result

In [ ]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

In [ ]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
func()
a
func()
a

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

In [ ]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

In [ ]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [ ]:
strings.sort(key=lambda x: len(set(x)))
strings

In [ ]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

In [ ]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=" ")

In [ ]:
gen = (x ** 2 for x in range(100))
gen

In [ ]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

In [ ]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

In [ ]:
float("1.2345")
float("something")

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float("1.2345")
attempt_float("something")

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [ ]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

In [ ]:
f.close()

In [ ]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [ ]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

In [ ]:
f1.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f1.seek(3)
f1.read(1)
f1.tell()

In [ ]:
f1.close()
f2.close()

In [ ]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

In [ ]:
import os
os.remove("tmp.txt")

In [ ]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

In [ ]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

In [ ]:
data.decode("utf-8")
data[:4].decode("utf-8")

In [ ]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()